<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://play-lh.googleusercontent.com/chI-8vX4CIbO-pm14tb5UAjip20CwmytQPdz8sBmqNjPqTp1tptpBOZc-aGyYqDesw" type="image/x-icon">
    <link type="text/css" rel="stylesheet" href="/src/assets/css/index.css">
    <script src="/src/assets/js/index.js"></script>
    <title>CS:GO News & Coverage | HLTV.org</title>
</head>
<body>
    <%- include('partials/navbar.ejs') %> 



    <%- include('partials/footer.ejs') %> 
</body>
</html>